@keyframes rotate {
  0% {
    -gtk-icon-transform: perspective(512px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -gtk-icon-transform: perspective(512px) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}



.animate {
  animation-name: rotate;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0s;
  animation-fill-mode: none;
  animation-play-state: running;
}
.chickenbox {
  padding: 6px;
}

